[Unit]
Description=Arktur's distributed currency daemon
After=network.target

[Service]
User=arktur
Group=arktur

Type=forking
PIDFile=/var/lib/arkturd/arkturd.pid

ExecStart=/usr/bin/arkturd -daemon -pid=/var/lib/arkturd/arkturd.pid \
          -conf=/etc/arktur/arktur.conf -datadir=/var/lib/arkturd

ExecStop=-/usr/bin/arktur-cli -conf=/etc/arktur/arktur.conf \
         -datadir=/var/lib/arkturd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
